<div class="reg_events">
	<img class="event_img" src="images/spirit_event.png">
	<img class="event_img" src="images/spirit_event.png">
	<img class="event_img" src="images/spirit_event.png">
	<img class="event_img" src="images/spirit_event.png">
</div>

<div>
	Will show registered events
</div>