
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="footer.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Footer Page</title>
    <style>
      @import url('http://fonts.cdnfonts.com/css/masked-hero-demo');
@import url('http://fonts.cdnfonts.com/css/palanquin');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.page-footer {
  background-color: #11002c;
  /* display: grid;
  grid-template-columns: 1.9fr repeat(3, 1fr); */
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 2;
  padding: 4rem 0;
  @media (max-width: 56.25em)
}

.myclass{
  margin: 5%;
}


.text1{
  font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
font-feature-settings: 'liga' off;
color: #FFFFFF;
}

.anchortag{
padding: 3%;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
font-feature-settings: 'liga' off;
color: #FFFFFF;
}
.ulListpara{
  padding-bottom: 0;
  font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
font-feature-settings: 'liga' off;
color: #FFFFFF;
}
.myfooteranchor{
  text-decoration: none;
}
.ForMargin{
  margin-top: 3%;
  margin-right: 0%;
  text-align: left;
}
#inner-2{
  height: auto;
  width: auto;
  font-family: 'Masked Hero Demo';
  font-style: normal;
  font-weight: 400;
  font-size: 2.313rem;
  line-height: 3.625rem;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* white-space: nowrap; */
}
#inner-3{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.125rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}


#inner-1{
  margin-top: 0.001rem;
  width: 6.132rem;
  height: 2.938rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#inner-4{
  font-size: 0.7rem;
  margin-top: 2rem;
}

#inner-5{
  margin-top: 3rem;
}

.mybtn{
  border-radius: 50% !important;
  font-size: 90%;
  background-color:  #1f1139 ;
  outline-color: none !important;
}
    </style>
</head>


  <footer class="page-footer font-small mdb-color darken-3 pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 ForMargin">
  
          <!-- Content -->
          
            <div class="myclass">
            <div class="vector mt-sm-0"><img id="inner-1" src="images/spirit.svg" alt="Spirit vector"></div>
            <a href="/" style="text-decoration: none;"><div class="text mt-sm-4 text1"> <div id="inner-2">SPIRIT 2022</div></div></a>
            <div id="inner-3">The Annual Sports Fest of IIT Guwahati</div>
            
  
            <div id="inner-4" style="color: #9966FF;">
              Copyright © 2022 Spirit, Sports Board, IIT Guwahati:
              <p style="color:#9966FF;"> All rights reserved </p>
            </div>
  
            <section id="inner-5">
  
              <a class="btn btn-outline-light btn-floating m-1 mybtn myfooteranchor" href="https://instagram.com/spirit_iitguwahati" role="button"
                ><i class="fab fa-instagram"></i
                  ></a>
  
              <a class="btn btn-outline-light btn-floating m-1 mybtn myfooteranchor" href="https://www.facebook.com/spiritiitg" role="button"
                ><i class="fa-brands fa-facebook-f"></i></a>
  
              <a class="btn btn-outline-light btn-floating m-1 mybtn myfooteranchor" href="https://www.youtube.com/channel/UCm7-qn35pqdGIXgaC-iIs-Q/featured" role="button"
                ><i class="fa-brands fa-youtube"></i></i
              ></a>
            </section>
            </div>
        
  
        </div>

        <!-- Grid column -->
  
        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3 ForMargin">
  
          <!-- Links -->
          <h5 class="text text1"> Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/" class="anchortag myfooteranchor">Home</a>
            </li>
            <li>
              <a href="events" class="anchortag myfooteranchor">Events</a>
            </li>
            <li>
              <a href="aboutus" class="anchortag myfooteranchor">About us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 ForMargin">
  
          <!-- Links -->
          <h5 class="text text1"> CONTACT</h5>
  
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-envelope me-3 text-grayish" style="color: white; padding-bottom: 5%;"></i>
              <a href="mailto:publicrelation.spirit@gmail.com" style="padding-left: 0%;" class="anchortag myfooteranchor">publicrelation.spirit@gmail.com</a>
            </li>
            <li>
              <p class="ulListpara"><i class="fas fa-phone me-3 text-grayish"></i>Pratik Agarwal
                +91-8658073960</p>
            </li>
            <li>
              <p class="ulListpara"><i class="fas fa-phone me-3 text-grayish"></i>Harshith Reddy
                +91-7780552508</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      <div class="text-center" style="background-color: rgba(0, 0, 0, 0.025); color: grey; margin-bottom: 0%;">
        © 2022 Copyright
      </div>
    </div>
   

  
  </footer>



