<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <title>Reset Password | Spirit 2021</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        body{
            margin: 0px;
            background-color: black;
            font-family: 'Inter', sans-serif;
        }
        .container{
            display:grid;
            grid-template-columns: 1fr 1fr;
            height: 100vh;          
        }
        #login{
            width:50vw;
            /* height: 100vh; */
        }
        @media only screen and (max-width: 600px) {
            .container {
                display: block;   
            }
        }
        #Grid_2{
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;
            padding:20px;
            text-align: center;
        }

        #head{
            color:white;
            text-align: left;
            font-size: larger;
        }
        #head:hover{
            font-size: 30px;
        }
        .email{
            color:white;
            padding-top:24px;
            font-family: Inter;
			font-size:26px;
			/* letter-spacing:1px; */
        }
        a{
            text-decoration: none;
            color:white;
        }
        .itemof2{
            color:white;            
            border-radius: 4px;
            min-width: 0; min-height: 0;
            margin: 8px;
			font-size:20px;
			/* letter-spacing:1px; */
        }
        .Email{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }
		.email2{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            justify-content: center;
        }
        .enter{
            width: 100%;
            background-color: black;
            border-radius: 10px;
            border:2px solid grey;
            height:44px;
            color:white;
            padding-left: 8px;
			font-size:16px;
			/* letter-spacing:1px; */
        }
        .enter:hover{
            border:2px solid blue;
        }
        .LOGINBUTTON{
            background-color: #C567FF;
            color:black;
            width: 100%;
            height: 50px;
            font-family: Inter;
            font-weight: 600;
            font-size:20px;
            border:2px solid violet;
            border-radius: 15px;
			/* letter-spacing:1px; */
        }
        .LOGINBUTTON:hover{
            border:4px solid rgb(101, 101, 238);
            ;
        }
        .link{
            color:#C567FF;
        }
        #Remember{
            color:black;
        }
        #imgtext{
        
            color: white;
            height: 95vh;
        }

        .img{
            background: url('/images/spirit_login.jpg');
            background-repeat: none;
            background-size: cover;
            display: grid;
                text-align: end;
                justify-content: end;
                align-items: flex-end;
                padding-right: 10px;
                padding-left: 18px;
        }

    </style>
</head>
<body>
    <section>
        <div class="container">
			 <div class="img">
				<p id="imgtext">Spirit is the biggest collegiate sporting festival of North Eastern India with 3K+ participants from 65+ colleges held at IIT Guwahati.</p>
			</div>
			
			<div id="Grid_2">
                <div >
					<div>
						<p class="email">
							Change your Password </p>
					</div>
					<div >
						<form id="reg-form" class="Email">
							<div class="itemof2">
								<input id="password" class = "enter" type="password" placeholder="Password" autocomplete="off" required/> 
							</div>
							<div class="itemof2">
								<input id="password_confirm" class = "enter" type="password" placeholder="Confirm Password" autocomplete="off" required/> 
							</div>
							<div class="itemof2">
								<input type="submit" class="LOGINBUTTON" value="Reset Password" />
							</div>
						</form>	
						<!-- <div class="itemof2"><a href="../../profile/update/<%-user._id%>" >Go Back</a></div> -->
					</div> 
				</div>
			</div> 
		</div>
    </section>
	<script>
		const form = document.getElementById('reg-form')
		form.addEventListener('submit', resetPass)
		var id = '<%-user._id%>'

		async function resetPass(event) {
			event.preventDefault()
			const password1 = document.getElementById('password').value
			const password2 = document.getElementById('password_confirm').value
			if (password2 === password1) {
				const result = await fetch('/authapi/reset_pass', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						id,
						password2
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					window.location.replace(`/`)
					alert('Password Reset Successfully.')
				} else {
					alert(result.error)
				}
			} else {
				alert('The entered passwords do not match')
			}
		}
	</script>
   
</body>
</html>