body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abt-background{
  height: 100%;
  width: 100%;
  background-color: #11002C;
  overflow-x: hidden; 
 
 background-image: url("data:image/svg+xml,%3Csvg width='1440' height='866' viewBox='0 0 1440 866' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-43.1267 -10.078C-55.6631 12.4283 -79.6156 55.5238 -96.354 85.6879L-126.788 140.532L-99.4438 141.772C-84.4048 142.456 84.6124 142.835 276.149 142.616L624.398 142.219L632.075 128.719C636.299 121.294 660.15 78.3895 685.077 33.3753L730.404 -48.4687L719.81 -49.5369C713.983 -50.1242 545.067 -50.6946 344.443 -50.8026L-20.3319 -51L-43.1267 -10.078ZM876.68 -38.7656C828.65 48.3688 454.438 721.613 453.185 723.143C451.815 724.815 391.205 725.253 160.429 725.253C-30.2578 725.253 -130.406 725.826 -130.037 726.918C-129.728 727.834 -105.934 771.109 -77.162 823.086L-24.8493 917.588L267.437 917.608L559.723 917.628L566.358 906.237C572.172 896.259 770.369 539.483 933.225 245.844L988.999 145.279L1032.05 144.172C1055.73 143.561 1186.99 143.063 1323.74 143.063C1460.49 143.063 1572.37 142.646 1572.37 142.135C1572.37 140.431 1567.19 130.896 1517.13 40.5472L1467.34 -49.3125H1174.92H882.495L876.68 -38.7656ZM-262.317 384.798C-276.762 411.019 -289.462 434.205 -290.54 436.326C-292.295 439.777 -289.899 444.874 -267.735 484.845L-242.971 529.51L83.5341 529.085L410.041 528.658L462.136 435.002C490.79 383.491 514.25 340.397 514.271 339.236C514.3 337.555 438.168 337.126 139.127 337.126H-236.054L-262.317 384.798ZM977.954 430.361C949.488 481.639 925.75 524.804 925.206 526.279C924.334 528.648 927.933 529.094 955.935 530.071C996.746 531.498 1642.92 531.21 1661.57 529.757L1675.66 528.658L1703.33 478.934C1718.55 451.586 1731 428.49 1731 427.607C1731 426.726 1719.94 406.007 1706.42 381.565L1681.85 337.126H1355.78H1029.72L977.954 430.361ZM813.431 727.362C812.13 729.009 730.65 875.481 712.582 908.654L708.738 915.711L719.101 916.747C724.801 917.316 893.871 917.557 1094.81 917.284L1460.16 916.784L1512.77 822.284C1541.7 770.309 1565.43 727.215 1565.5 726.518C1565.57 725.821 1396.76 725.253 1190.36 725.253C892.165 725.253 814.756 725.686 813.431 727.362Z' fill='%23251345'/%3E%3C/svg%3E");
  
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
}

.people-svg{
  max-width: 100%;
}

@media (max-width:550px) {
  .people-svg{
      margin-top: 16%;
      padding: 6%;
  }

  .head-card{
      margin: 10%;
  }
}

.about-upper{
  padding-top: 15%;
  padding-bottom: 10%;
}

.about-upper-col{
  position: relative;
  top:100px;
  margin-bottom: 18%;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
/* or 137% */
color: #FFFFFF;
}

.svg-cont{
  background: rgba(56, 0, 147, 0.68);
  opacity: 0.5;
  filter: blur(150px);
}

.about-heading{
  font-family: 'Outfit',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #AB7BFF;
}

.head-card-cont{

  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='946' viewBox='0 0 1440 946' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M445.5 776.5L875.5 0H1532L1623 157H1007.5L574 946H-87L-182 776.5H445.5Z' fill='%23F2F0F7'/%3E%3C/svg%3E");
  padding:4%;
}

.head-card{
  padding: 10%;
  background: #FCFAFE;
  box-shadow: 0px 8.31355px 16.6271px rgba(69, 0, 181, 0.05);
  border-radius: 6.65084px;
  height:30%px;
}

.card-img-cont{
  background-color: #11002C;
  border-radius: 20%;
}

.head-img{
  border-radius: 20%;

}

.meet-team{
  margin-bottom: 4%;
  font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 67px;
/* identical to box height, or 139% */


color: #11002C;
}
.title{
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 0.5em;
}
.top-left{
  position: absolute;
  top:8px;
  left:15px;
}
.box{
  width:80%;
position: relative;
margin-right: auto;
 margin-left:auto;
 margin-top: 5rem;

}

.gallery {

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 1rem; 
}
.gallery__item{
  position: relative;
}
.gallery__img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 8;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 8;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 4;
  grid-row-end: 11;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 12;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 11;
  grid-row-end: 12;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}