.galman__container {
    display: grid;
    grid-template-rows: 60rem;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
    @media only screen and (max-width: 62.5em) {
      .galman__container {
        grid-template-rows: 60rem;
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
    @media (max-width: 56.25em) {
      .galman__container {
        grid-template-rows: 75rem; } }
    @media (max-width: 37.5em) {
      .galman__container {
        grid-template-rows: 40rem; } }
  
  .galman__pictures {
    background-color: #c69963;
    grid-column: full-start / col-end 4;
    background-image: url('/images/Shutterbug1.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
    @media (max-width: 56.25em) {
      .galman__pictures {
        margin-top: 5.9rem; } }
    @media only screen and (max-width: 50em) {
      .galman__pictures {
        grid-column: 1 / -1;
        padding: 6rem; } }
  
  .galman__img--1 {
    position: relative;
    object-fit: contain;
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 50em) {
      .galman__img--1 {
        grid-column: 1 / 5;
        grid-row: 1 / -1; } }
    @media (max-width: 37.5em) {
      .galman__img--1 {
        transform: scale(1.15); } }
  
  .galman__img--2 {
    position: relative;
    width: 115%;
    object-fit: contain;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 50em) {
      .galman__img--2 {
        grid-row: 1 / -1;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .galman__img--2 {
        transform: scale(1.15); } }
  
  .galman__content {
    background-color: #404040;
    grid-column: col-start 5 / full-end;
    padding: 4rem 8vw;
    display: grid;
    align-content: center;
    justify-items: start;
    color: white; }
    @media (max-width: 56.25em) {
      .galman__content {
        height: 40rem; } }
    @media (max-width: 37.5em) {
      .galman__content {
        height: 35rem;
        padding: 4rem 5vw; } }
    @media (max-width: 23.43em) {
      .galman__content {
        height: 33rem;
        font-size: 2.5rem 5vw; } }
    @media only screen and (max-width: 50em) {
      .galman__content {
        grid-column: 1 / -1;
        grid-row: 5 / 6; } }
  
  .galman__head {
    margin-top: -4rem;
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #c567ff;
    font-weight: 600; }
    @media (max-width: 56.25em) {
      .galman__head {
        margin-top: -1rem;
        font-size: 6rem; } }
    @media (max-width: 37.5em) {
      .galman__head {
        margin-top: 0;
        font-size: 4rem; } }
    @media (max-width: 23.43em) {
      .galman__head {
        font-size: 3.6rem; } }
  
  .galman__text {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 4rem;
    color: white; }
    @media (max-width: 56.25em) {
      .galman__text {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .galman__text {
        font-size: 2rem; } }
    @media (max-width: 23.43em) {
      .galman__text {
        font-size: 1.7rem; } }
  
  .gallery {
    background-color: #f9f7f6;
    grid-column: full-start / full-end;
    display: grid;
    grid-template: repeat(7, 5vw)/repeat(8, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem; }
    @media (max-width: 75em) {
      .gallery {
        grid-template: repeat(7, 5.5vw)/repeat(8, 1fr);
        grid-gap: 1.3rem;
        padding: 1.3rem; } }
    @media (max-width: 56.25em) {
      .gallery {
        grid-template: repeat(18, 5.5vw)/repeat(5, 1fr);
        grid-gap: 1.1rem;
        padding: 1.1rem; } }
    @media (max-width: 37.5em) {
      .gallery {
        grid-template: repeat(18, 5.5vw)/repeat(5, 1fr);
        grid-gap: 0.8rem;
        padding: 0.8rem; } }
    .gallery__item__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      /* color: #c567ff; */
      color: white;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden; }
    .gallery__item__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block; }
    .gallery__item:hover .gallery__item__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .gallery__item:hover .gallery__item__img {
      filter: blur(1px) brightness(85%); }
    .gallery__item--1 {
      position: relative;
      grid-row: 1 / span 2;
      grid-column: 1 / span 2; }
      @media (max-width: 56.25em) {
        .gallery__item--1 {
          grid-row: 1 / span 3;
          grid-column: 1 / span 2; } }
    .gallery__item--2 {
      position: relative;
      grid-row: 1 / span 3;
      grid-column: 3 / span 3; }
      @media (max-width: 56.25em) {
        .gallery__item--2 {
          grid-row: 1 / span 4;
          grid-column: 3 / span 3; } }
    .gallery__item--3 {
      position: relative;
      grid-row: 1 / span 2;
      grid-column: 6 / 7; }
      @media (max-width: 56.25em) {
        .gallery__item--3 {
          grid-row: 11 / span 5;
          grid-column: 4 / span 2; } }
    .gallery__item--4 {
      position: relative;
      grid-row: 1 / span 2;
      grid-column: 7 / -1; }
      @media (max-width: 56.25em) {
        .gallery__item--4 {
          grid-row: 12 / span 3;
          grid-column: 1 / 3; } }
    .gallery__item--5 {
      position: relative;
      grid-row: 3 / span 3;
      grid-column: 1 / span 2; }
      @media (max-width: 56.25em) {
        .gallery__item--5 {
          grid-row: 4 / span 4;
          grid-column: 1 / span 2; } }
    .gallery__item--6 {
      position: relative;
      grid-row: 4 / span 2;
      grid-column: 3 / span 2; }
      @media (max-width: 56.25em) {
        .gallery__item--6 {
          grid-row: 5 / span 3;
          grid-column: 3 / span 2; } }
    .gallery__item--7 {
      position: relative;
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
      @media (max-width: 56.25em) {
        .gallery__item--7 {
          display: none; } }
    .gallery__item--8 {
      position: relative;
      grid-row: 3 / span 2;
      grid-column: 6 / span 2; }
      @media (max-width: 56.25em) {
        .gallery__item--8 {
          grid-row: 8 / span 3;
          grid-column: 4 / span 2; } }
    .gallery__item--9 {
      position: relative;
      grid-row: 3 / span 3;
      grid-column: 8 / -1; }
      @media (max-width: 56.25em) {
        .gallery__item--9 {
          grid-row: 5 / span 3;
          grid-column: 5 / -1; } }
    .gallery__item--10 {
      position: relative;
      grid-row: 6 / span 2;
      grid-column: 1 / 2; }
      @media (max-width: 56.25em) {
        .gallery__item--10 {
          grid-row: 15 / span 4;
          grid-column: 2 / span 2; } }
    .gallery__item--11 {
      position: relative;
      grid-row: 6 / span 2;
      grid-column: 2 / span 2; }
      @media (max-width: 56.25em) {
        .gallery__item--11 {
          grid-row: 16 / span 3;
          grid-column: 4 / span 2; } }
    .gallery__item--12 {
      position: relative;
      grid-row: 6 / span 2;
      grid-column: 4 / 5; }
      @media (max-width: 56.25em) {
        .gallery__item--12 {
          grid-row: 12 / span 3;
          grid-column: 3 / span 1; } }
    .gallery__item--13 {
      position: relative;
      grid-row: 5 / span 3;
      grid-column: 5 / span 3; }
      @media (max-width: 56.25em) {
        .gallery__item--13 {
          grid-row: 8 / span 4;
          grid-column: 1 / span 3; } }
    .gallery__item--14 {
      position: relative;
      grid-row: 6 / span 2;
      grid-column: 8 / -1; }
      @media (max-width: 56.25em) {
        .gallery__item--14 {
          grid-row: 15 / span 4;
          grid-column: 1 / 2; } }