.carousel-text {
    text-align: left;
}
.treasure-hunt-link {
    color: #c567ff;
}

.treasure-hunt-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#expand-modal-hunt {
    margin-top: 100px;
}

.modal-content {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 57, 57);
    font-size: 1.3rem;
    padding-bottom: 100px;
    text-align: center;
    border: 5px solid #c567ff;
}

.modal-content-scissorbox {
    width: 30%;
    height: 80px;
    background-color: rgb(58, 57, 57);
    font-size: 1.3rem;
    border: 5px solid #c567ff;
    position: relative;
    left: 110%;
    top: 500px;
    text-align: center;
    vertical-align: bottom;
}

.box_img {
    position: absolute;
    width: 30%;
    left: 32%;
    top: -8%;
}

#cipher_word {
    position: relative;
    left: 10%;
    color: #fff;
    bottom: 15px;
}

.container-fluid-hunt {
    padding: 70px;
    padding-bottom: 0;
}

.btn-close {
    padding: 15px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.hunt-text {
    color: #fff;
    font-size: larger;
}

.cipher {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(196, 196, 196);
    position: relative;
    top: 20px;
    right: auto;
    font-family: sans-serif;
}

.btn-hint {
    font-size: 50px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.readmore {
    color: #c567ff;
}

.scissor-btn {
    float: left;
}
