<!-- Read More Button will redirect to events page for now -->
<!--CRICKET FANTASY-->
<div class="card event-1" id="event-1">
     <div class="card__side card__side--front card__side--front-1" id="event-1-m">
		 
	</div>
    <div class="card__side card__side--back card__side--back-1 flip-card-front" id="event-1-mb">
        <h3 class="card__text">Event Dates: 24 Oct<!--<br>Registration ends : 15 Oct<br>Prize Pool: 30k--></h3>
        <div class="card__readMore">
		    <a href="events" class="card__readMore__gte"><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div>

<!--BGMI-->
<div class="card event-2" id="event-2">
     <div class="card__side card__side--front card__side--front-2" id="event-2-m">
		 
	</div>
    <div class="card__side card__side--back card__side--back-2 flip-card-front" id="event-2-mb">
        <h3 class="card__text">Event Dates: 23-24 Oct<br>Registration ends : 22 Oct<br>Prize Pool: 10k</h3>
        <div class="card__readMore">
		    <a href="events" class="card__readMore__gte"><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div>


<!--TREASURE HUNT-->
<div class="card event-3" id="event-3">
    <div class= "card__side card__side--front card__side--front-3" id="event-3-m">
	   
	</div>
    <div class="card__side card__side--back card__side--back-3 flip-card-front" id="event-3-mb">
        <h3 class="card__text">Event Dates: 22 - 24 Oct<!--<br>Registration ends : 15 Oct--><br>Prize Pool: 5k</h3>
        <div class="card__readMore">
			<a href="events"class="card__readMore__gte" ><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div>

<!--Chess-->
<div class="card event-4" id="event-4">
    <div class="card__side card__side--front card__side--front-4" id="event-4-m">
		
	</div>
    <div class="card__side card__side--back card__side--back-4 flip-card-front" id="event-4-mb">
         <h3 class="card__text">Event Dates: 22 - 24 Oct<br>Prize Pool: 30k</h3>
         <div class="card__readMore">
			 <a href="events" class="card__readMore__gte"> <h3 class="card__readMore__title">Read More</h3></a>
		</div>
     </div>
</div>

<!--SPORTS QUIZ-->
<!-- <div class="card event-5" id="event-5">
    <div class="card__side card__side--front card__side--front-5" id="event-5-m">
		
	</div>
    <div class="card__side card__side--back card__side--back-5 flip-card-front" id="event-5-mb">
        <h3 class="card__text">Event Prelims: 20 Oct<br>Event Finals: 23 Oct<br>Prize Pool: 5k</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte"><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div> -->


<!-- Fitness -->
<!-- <div class="card event-6" id="event-6">
    <div class="card__side card__side--front card__side--front-6" id="event-6-m">
		
	</div>
    <div class="card__side card__side--back card__side--back-6 flip-card-front" id="event-6-mb">
        <h3 class="card__text">Event Dates: 2 - 20 Oct<br>Registration ends : 20 Oct</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte"><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div>
          -->
            
<!-- Weekly Trivia -->
<!-- <div class="card event-7" id="event-7">
    <div class="card__side card__side--front card__side--front-7" id="event-7-m">
		Event-7
	</div>
    <div class="card__side card__side--back card__side--back-7 flip-card-front" id="event-7-mb">
        <h3 class="card__text">Follow us on Instagram <a href="https://instagram.com/spirit_iitguwahati" style="text-decoration: none;               color:white;" target="_blank">(@spirit_iitguwahati)</a> to participate in our exciting Weekly Trivia quizzes.</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte" ><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div>
                  -->

<!-- ShutterBug -->
<!-- <div class="card event-8" id="event-8">
    <div class="card__side card__side--front card__side--front-8" id="event-8-m">
	</div>
    <div class="card__side card__side--back card__side--back-8 flip-card-front" id="event-8-mb">
        <h3 class="card__text">Event Dates : 8 - 14 October<br>Prize Pool: 5k</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte" ><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div> -->
          
<!-- Athlos Arena -->
<!-- <div class="card event-9" id="event-9">
    <div class="card__side card__side--front card__side--front-9" id="event-9-m">
		Event-9
	</div>
    <div class="card__side card__side--back card__side--back-9 flip-card-front" id="event-9-mb">
        <h3 class="card__text">Event Dates: 1 - 20 October<br>Prize Pool: 50k</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte" ><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div> -->

<!-- IPL Auction -->
<!-- <div class="card event-10" id="event-10">
    <div class="card__side card__side--front card__side--front-10" id="event-10-m">
		Event-10
	</div>
    <div class="card__side card__side--back card__side--back-10 flip-card-front" id="event-10-mb">
        <h3 class="card__text">Event Dates: 9 - 10 October<br>Prize Pool: 20k</h3>
        <div class="card__readMore">
			<a href="events" class="card__readMore__gte" ><h3 class="card__readMore__title">Read More</h3></a>
		</div>
    </div>
</div> -->