<!-- Read More Button will redirect to events page for now -->
<!--CRICKET FANTASY-->
<div class="card event-1" id="event-1">
    <div class="card__side card__side--front card__side--front-1"></div>
    <div class="card__side card__side--back card__side--back-1">
        <h3 class="card__text">Event Dates: 24 Oct<!--<br>Registration ends : 15 Oct<br>Prize Pool: 30k--></h3>
<div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--BGMI-->
<div class="card event-2" id="event-2">
    <div class="card__side card__side--front card__side--front-2"></div>
    <div class="card__side card__side--back card__side--back-2">
        <h3 class="card__text">Event Dates: 23-24 Oct<br>Registration ends : 22 Oct<br>Prize Pool: 10k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--TREASURE HUNT-->
<div class="card event-3" id="event-3">
    <div class="card__side card__side--front card__side--front-3"></div>
    <div class="card__side card__side--back card__side--back-3">
        <h3 class="card__text">Event Dates: 22 - 24 Oct<!--<br>Registration ends : 15 Oct--><br>Prize Pool: 5k</h3>
<div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--Chess-->
<div class="card event-4" id="event-4">
    <div class="card__side card__side--front card__side--front-4"></div>
    <div class="card__side card__side--back card__side--back-4">
        <h3 class="card__text">Event Dates: 22 - 24 Oct<br>Prize Pool: 30k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--SPORTS QUIZ-->
<div class="card event-5" id="event-5">
    <div class="card__side card__side--front card__side--front-5"></div>
    <div class="card__side card__side--back card__side--back-5">
        <h3 class="card__text">Event Prelims: 20 Oct<br>Event Finals: 23 Oct<br>Prize Pool: 5k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title"></h3>
            </a></div>
    </div>
</div>

<!-- Fitness -->
<div class="card event-6" id="event-6">
    <div class="card__side card__side--front card__side--front-6"></div>
    <div class="card__side card__side--back card__side--back-6">
        <h3 class="card__text">Event Dates: 2 - 20 Oct<br>Registration ends : 20 Oct</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!-- IPL Auction -->
<div class="card event-7" id="event-7">
    <div class="card__side card__side--front card__side--front-7"></div>
    <div class="card__side card__side--back card__side--back-7">
        <h3 class="card__text">Event Dates: 9 - 10 October<br>Prize Pool: 20k</h3>
<div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!-- ShutterBug -->
<div class="card event-8" id="event-8">
    <div class="card__side card__side--front card__side--front-8"></div>
    <div class="card__side card__side--back card__side--back-8">
        <h3 class="card__text">Event Dates: 8 - 14 October<br>Registration ends: 14 Oct<br>Prize Pool: 5k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!-- Marathon -->
<div class="card event-9" id="event-9">
    <div class="card__side card__side--front card__side--front-9"></div>
    <div class="card__side card__side--back card__side--back-9">
        <h3 class="card__text">Event Dates: 16 - 17 Oct<br>Registration ends : 15 Oct<br>Prize Pool: 10k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!-- Weekly Trivia -->
<div class="card event-10" id="event-10">
    <div class="card__side card__side--front card__side--front-10"></div>
    <div class="card__side card__side--back card__side--back-10">
        <h3 class="card__text">Follow us on Instagram <a href="https://instagram.com/spirit_iitguwahati" style="text-decoration: none; color:white;" target="_blank">(@spirit_iitguwahati)</a> to participate in our exciting Weekly Trivia quizzes.</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--CRICKET FANTASY-->
 <div class="card event-1" id="start-clone-1">
    <div class="card__side card__side--front card__side--front-1"></div>
    <div class="card__side card__side--back card__side--back-1">
        <h3 class="card__text">Event Dates: 24 Oct<!--<br>Registration ends : 15 Oct<br>Prize Pool: 30k--></h3>
<div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>
 
<!--BGMI-->
 <div class="card event-2" id="start-clone-2">
    <div class="card__side card__side--front card__side--front-2"></div>
    <div class="card__side card__side--back card__side--back-2">
        <h3 class="card__text">Event Dates: 23-24 Oct<br>Registration ends : 22 Oct<br>Prize Pool: 10k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--TREASURE HUNT-->
<div class="card event-3" id="start-clone-3">
    <div class="card__side card__side--front card__side--front-3"></div>
    <div class="card__side card__side--back card__side--back-3">
        <h3 class="card__text">Event Dates: 22 - 24 Oct<!--<br>Registration ends : 15 Oct--><br>Prize Pool: 5k</h3>
<div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

<!--Chess-->
<div class="card event-4" id="start-clone-4">
    <div class="card__side card__side--front card__side--front-4"></div>
    <div class="card__side card__side--back card__side--back-4">
        <h3 class="card__text">Event Dates: 22 - 24 Oct<br>Prize Pool: 30k</h3>
        <div class="card__readMore"><a href="events" class="card__readMore__gte">
                <h3 class="card__readMore__title">Read More</h3>
            </a></div>
    </div>
</div>

