<div class="updates-box updates-box--1">
    <div class="updates-box-title">Be a Campus Ambassador!</div>
    <div class="updates-box-desc">Get a chance to represent your college in Spirit'21 and win exciting goodies. Head on to 'Join the Team' to register.</div>
</div>
<div class="updates-box updates-box--2">
    <div class="updates-box-title">Register now for Cricket Analytics Workshop!</div>
    <div class="updates-box-desc">Head onto the events page to register.</div>
</div>

<div class="updates-box updates-box--3">
    <div class="updates-box-title">Neo Fantasy is released!</div>
    <div class="updates-box-desc">Registrations for your favourite sport has started. Move on to the events page to know more.</div>
</div>
