
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/new_sponsors.css" />
  </head>

  <body>
   
    <!-- <h3 class="sponser"> Sponsors</h3>
    <p class="random_para">Spirit is proud to be backed by</p>

    <div class="container">
      <div class="row" id="jod">
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/Microsoft Logo.png" alt="microsoft_logo">

        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col vicky" id="jj">
          .
        </div>

      </div>
      <div class="row" id="jod">
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/Google Logo.png" alt="google_logo">
        </div>
        <div class="col vicky">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/OYO Logo.png" alt="oyo_logo">
        </div>
        <div class="col vicky">
          .
        </div>

      </div>
      <div class="row" id="jod">
        <div class="col" id="jj">
          <img src="images/Airbnb Logo.png" alt="airbnb_logo">
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/FedEx Logo.png" alt="fed-ex_logo">
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/Amazon Logo.png" alt="amazon_logo">
        </div>

      </div>
      <div class="row" id="jod">
        <div class="col">
          .
        </div>
        <div class="col " id="jj">
          <img src="images/BookMyShow Logo.png" alt="bookmyshow_logo">
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">
          <img src="images/OLA Logo.png" alt="ola_logo">


        </div>
        <div class="col vicky" id="jj">
          .
        </div>

      </div>
      <div class="row" id="jod">
        <div class="col vicky">
          .
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col" id="jj">

          <img src="images/Walmart Logo.png" alt="walmart_logo">
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        <div class="col vicky" id="jj">
          .
        </div>
        </div>

      </div>
      <div class='container-fluid ' id="xyz">
        <div class='row'>
          <div class='col-xs-12 col-md-4'> <img src="  Microsoft Logo.png" alt="microsoft_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  Google Logo.png" alt="google_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  OYO Logo.png" alt="oyo_logo">
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-md-4'> <img src="  Airbnb Logo.png" alt="airbnb_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  FedEx Logo.png" alt="fed-ex_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  Amazon Logo.png" alt="amazon_logo">
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-md-4'> <img src="  BookMyShow Logo.png" alt="bookmyshow_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  OLA Logo.png" alt="ola_logo">
          </div>
          <div class='col-xs-12 col-md-4'> <img src="  Walmart Logo.png" alt="walmart_logo">
          </div>
        </div>
      </div> -->




    <div class="bg-image">
      <div class="container bottom-cont">
        <div class="main-header">Sponsors</div>
        <div class="below-header">Spirit is proud to be backed by</div>
            <div class="row" id="logo-group">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\Airbnb Logo.png"
                  alt="airbnb_logo"
                />
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\Google Logo.png"
                  alt="google_logo"
                />
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\Microsoft Logo.png"
                  alt="microsoft_logo"
                />
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\Walmart Logo.png"
                  alt="walmart_logo"
                />
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\OLA Logo.png"
                  alt="ola_logo"
                />
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\OYO Logo.png"
                  alt="oyo_logo"
                />
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\FedEx Logo.png"
                  alt="fed-ex_logo"
                />
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <img
                  src="images\BookMyShow Logo.png"
                  alt="bookmyshow_logo"
                />
              </div>
            </div>
    </div>
    </div>
    <%- include('../footer') -%>
    <style>
        .sponser{
	text-align: center;
	font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  }
  
  #jj{
	height: 170px;
	width: 15.625rem !important; 
	color: white;
  }
  #jod{
	overflow-y: hidden;
	margin-bottom: -8%;
  }
  .random_para{
	margin-top: 10px;
	text-align: center;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
  }
  @media only screen and (max-width: 992px) {
	#jod{
	  position: absolute;
	  visibility: hidden;
  
	  
	}
	
  }
  @media  (min-width:992px) {
	#xyz{
	  position: absolute;
	  visibility: hidden;
	}
	
  }
  @media only screen and (max-width: 576px) {
	#bogo{
	  text-align: center;
  
	  
	}
  }
  
  
  .xyz{
	text-align: center;
  }
    </style>
  </body>
</html>
