<!DOCTYPE html>
<html lang="en">
<%- include('../basic') -%>
<head>
	<link rel="stylesheet" href="css/sponsors_style.css" />
</head>
<body>
	<%- include('../navbar') -%>
	<section class="sponsors-container">
        <div class="sponsors-heading">
            Our Partners
        </div>
        <div class="sponsors">
        <div class="spon sponsors-1">
            <div class="sponsors-1-i">
				<a href="https://enerzal.com/"><img class="sponsors-1-i-img" src="images/enerzal.png" alt=""></a>
			</div>
            <div class="sponsors-1-text">
                <h3 class="sponsors-1-text-h3">Hydration partner</h3>
            </div>
        </div>
        <div class="spon sponsors-2">
            <div class="sponsors-2-i">
				<a href="https://www.chess.com/"><img class="sponsors-2-i-img" src="images/chesscom_logo_white.png" alt=""></a>
			</div>
            <div class="sponsors-2-text">
                <h3 class="sponsors-2-text-h3">Platform Partner</h3>
            </div>
        </div>
        <div class="spon sponsors-3">
            <div class="sponsors-3-i">
				<a href="https://www.paramountdealz.com/"><img class="sponsors-3-i-img" src="images/para_dealz.png" alt=""></a>
			</div>
            <div class="sponsors-3-text">
                <h3 class="sponsors-3-text-h3">Chess Event Partner</h3>
            </div>
        </div>
        <div class="spon sponsors-4">
            <div class="sponsors-4-i">
				<a href="https://happyfeetfamily.com/"><img class="sponsors-4-i-img" src="images/hff.png" alt=""></a>
			</div>
            <div class="sponsors-4-text">
                <h3 class="sponsors-4-text-h3">Event Partner</h3>
            </div>
        </div>
			
		<div class="spon sponsors-5">
                <div class="sponsors-5-i">
					<img class="sponsors-5-i-img" src="images/Neofantasy.png" alt="">
			</div>
                <div class="sponsors-5-text">
                    <h3 class="sponsors-5-text-h3">Event Partner</h3>
                </div>
            </div>

            <div class="spon sponsors-6">
                <div class="sponsors-6-i">
					<a href="https://canarabank.com/"><img class="sponsors-6-i-img" src="images/CanaraBank.png" alt=""></a>
				</div>
                <div class="sponsors-6-text">
                    <h3 class="sponsors-6-text-h3">Banking Partner</h3>
                </div>
            </div>

            <div class="spon sponsors-7">
                <div class="sponsors-7-i">
					<a href="https://madaboutsports.in/"><img class="sponsors-7-i-img" src="images/MadAboutSports.png" alt=""></a>
				</div>
                <div class="sponsors-7-text">
                    <h3 class="sponsors-7-text-h3">Event Partner</h3>
                </div>
            </div>

            <div class="spon sponsors-8">
                <div class="sponsors-8-i">
					<a href="https://www.campustimespune.com/"><img class="sponsors-8-i-img" src="images/CampusTimePune.png" alt=""></a>
				</div>
                <div class="sponsors-8-text">
                    <h3 class="sponsors-8-text-h3">Online Media Partner</h3>
                </div>
            </div>

            <div class="spon sponsors-9">
                <div class="sponsors-9-i">
					<a href="https://esportsfederation.in/"><img class="sponsors-9-i-img" src="images/ESFI.png" alt=""></a>
				</div>
                <div class="sponsors-9-text">
                    <h3 class="sponsors-9-text-h3">Gaming Partner</h3>
                </div>
            </div>
        

            <div class="spon sponsors-10">
                <div class="sponsors-10-i">
					<a href="https://www.guwahatiplus.com/"><img class="sponsors-10-i-img" src="images/GuwahatiPlus.jpeg" alt=""></a>
				</div>
                <div class="sponsors-10-text">
                    <h3 class="sponsors-10-text-h3">Media Partner</h3>
                </div>
            </div>

            <div class="spon sponsors-11">
                <div class="sponsors-11-i">
					<a href="https://spiritmemories.in/"><img class="sponsors-11-i-img" src="images/CampusMemories.png" alt=""></a>
				</div>
                <div class="sponsors-11-text">
                    <h3 class="sponsors-11-text-h3">Merchandise Partner</h3>
                </div>
            </div>
       
        </div>
        
    </section>
	<%- include('../footer') -%>
</body>