<div id="Fantasy" >
						<div class="formFieldRow">
							<label class="formFieldLabel">Full Name</label>
							<input type="text" autocomplete="off" id="full_name6" value="<%=user.username%>" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">School/College </label>
							<input type="text" autocomplete="off" id="college6" value="<%=user.collegename%>" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Email Address </label>
							<input type="email" id="email_address6" name="name1" value="<%=user.email%>"required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Whatsapp Number </label>
							<input type="text" id="whatsapp_number" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Campus Ambassador Id (optional)</label>
							<input type="text" id="amb_id6" name="amb_id" value=""  class="formFieldInput" />
						</div>
						<input type="submit" class="formSubmit" value="Register" />
					</div>