<div id="Fitness" >
						<div class="formFieldRow">
							<label class="formFieldLabel">Full Name</label>
							<input type="text" autocomplete="off" id="full_name3" value="<%=user.username%>" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">School/College </label>
							<input type="text" autocomplete="off" id="college3" value="<%=user.collegename%>" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Email Address </label>
							<input type="email" id="email_address3" name="name1" value="<%=user.email%>"required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Contact Number </label>
							<input type="text" id="contact_number3" name="name2" value="<%=user.phno%>"required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Campus Ambassador ID (optional)</label>
							<input type="text" id="amb_id3" name="amb_id" value=""  class="formFieldInput" />
						</div>
						<input type="submit" class="formSubmit" value="Register" />
					</div>