<div id="IplAuction" >
						<div class="formFieldRow">
							<label class="formFieldLabel">Team Name</label>
							<input type="text" autocomplete="off" id="team_name" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Campus Ambassador ID (Optional)</label>
							<input type="text" autocomplete="off" id="amb_id" value="" class="formFieldInput" />
						</div>
						<div class="registerTitle_2">MEMBER 1</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Full Name</label>
							<input type="text" autocomplete="off" id="full_name1" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">School/College </label>
							<input type="text" autocomplete="off" id="college1" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Email Address </label>
							<input type="email" id="email_address1" name="name1" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Contact Number </label>
							<input type="text" id="contact_number1" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Discord Username </label>
							<input type="text" id="discord1" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="registerTitle_2">MEMBER 2</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Full Name</label>
							<input type="text" autocomplete="off" id="full_name2" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">School/College </label>
							<input type="text" autocomplete="off" id="college2" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Email Address </label>
							<input type="email" id="email_address2" name="name1" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Contact Number </label>
							<input type="text" id="contact_number2" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Discord Username </label>
							<input type="text" id="discord2" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="registerTitle_2">MEMBER 3</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Full Name</label>
							<input type="text" autocomplete="off" id="full_name3" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">School/College </label>
							<input type="text" autocomplete="off" id="college3" value="" required class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Email Address </label>
							<input type="email" id="email_address3" name="name1" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Contact Number </label>
							<input type="text" id="contact_number3" name="name2" value=""required  class="formFieldInput" />
						</div>
						<div class="formFieldRow">
							<label class="formFieldLabel">Discord Username </label>
							<input type="text" id="discord3" name="name2" value=""required  class="formFieldInput" />
						</div>
						<input type="submit" class="formSubmit" value="Register" />
					</div>