    <div id="carouselAboutUs" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="images/Rectangle 16.png" class="d-block w-100" alt="...">
                <div class="bottom-right">
                    <button type="button" class="btn btn-hover btn-lg d-none d-md-block fs-5" id="aboutbtn">About Us</button>
                    <button type="button" class="btn btn-hover text-black btn d-block d-sm-block d-md-none" id="aboutbtn">About Us</button>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://source.unsplash.com/user/erondu/1920x789" class="d-block w-100" alt="...">
                <div class="bottom-right">
                    <button type="button" class="btn btn-hover btn-lg d-none d-md-block fs-5" id="aboutbtn">About Us</button>
                    <button type="button" class="btn text-black btn d-block d-sm-block d-md-none" id="aboutbtn">About Us</button>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://source.unsplash.com/user/erondu/1920x789" class="d-block w-100" alt="...">
                <div class="bottom-right">
                    <button type="button" class="btn btn-hover btn-lg d-none d-md-block fs-5" id="aboutbtn">Gallery</button>
                    <button type="button" class="btn text-black btn d-block d-sm-block d-md-none" id="aboutbtn">Gallery</button>
                </div>
            </div>
        </div>
    </div>
