    <div id="carouselfortopicinfo" class="carousel topic-info" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators topic-button-grid">
            <button data-target="#carouselfortopicinfo" data-slide-to="0" class="topic-button btn btn-dark active"><h2 class="spirit-title">Spirit 2021</h2></button>

            
        </ol>
        <div class="carousel-inner topic-data" >
            <div class="carousel-item active">
                Spirit is the annual sports festival of IIT Guwahati which organizes several competitive events. Spirit is a platform for all budding sportspersons to showcase their talent and engage in various sporting events. Spirit’21 shall be held in a completely online mode from 22nd October to 24th October.
            </div>
        </div>
    </div>