    <div class="bg-bottom">
        <div class="container">
            <h2 class="team-title text-center fw-bold">Meet our team</h2> 
            <div class="d-flex flex-wrap">
                <div class="col text-center member-div">
                    <h4 class="member-title">Institute Sports Secretary</h4>
                    <img src="images/rushabh.png" class="teamimages">
                    <p class="member-name">Rushabh Parikh<span  class="member-info">
                        <br> sportsec@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title img-med img-small img-412">Convener</h4>
                    <img src="images/ritwik.png" class="teamimages ">
                    <p class="member-name">Ritwik Ganguly<span  class="member-info">
                        <br> spirit@iitg.ac.in</span></p>
                </div>

                <div class="col text-center member-div">
                    <h4 class="member-title img-med img-small img-412">Events Head</h4>
                    <img src="images/sugandhi.png" class="teamimages ">
                    <p class="member-name">Sugandhi Gupta<span  class="member-info">
                        <br> sugandhigupta@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title">Corporate & Marketing Head</h4>
                    <img src="images/priyanshu.png" class="teamimages ">
                    <p class="member-name">Priyanshu Gupta<span  class="member-info">
                         <br> priyansh18a@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title img-med img-412">Public Relations Head</h4>
                    <img src="images/saurabh.png" class="teamimages ">
                    <p class="member-name">Saurabh S Kamble<span  class="member-info">
                        <br> saurabh2001@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title img-med img-small img-412">Media Head</h4>
                    <img src="images/ansh.png" class="teamimages ">
                    <p class="member-name">Ansh Bhatt<span  class="member-info">
                        <br> bhatt@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title img-med img-small img-412">Creatives Head</h4>
                    <img src="images/sudarshan.png" class="teamimages ">
                    <p class="member-name">Sudarshan Birla<span  class="member-info">
                        <br> sbirla@iitg.ac.in</span></p>
                </div>
                <div class="col text-center member-div">
                    <h4 class="member-title img-med">Web Operations Head</h4>
                    <img src="images/dyuti.png" class="teamimages ">
                    <p class="member-name">Dyuti Mangal<span  class="member-info">
                        <br> dmangal@iitg.ac.in</span></p>
                </div>
               </div>
        
            <div class="space"></div>

        </div> 
    </div>
