        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-sportsquiz" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/SportsQuizCard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>Sports Quiz</strong>
										</div>
										<div class="col-3">
											<strong> 20-23 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										A sports quiz is a fun way to quiz yourself on a range of topics related to sports. These quizzes are a fascinating way of learning things. Not only are they convenient, but they are also easy to do anytime. Spirit’21, IIT Guwahati brings “Sports Quiz'' a compiled list of interesting sports quizzes for you to enjoy. Have Fun!
									</div>
									<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names text-center">
										<div class="row">
											<div class="col-12 col-sm-6 col-md-4 ">
												<ul style="list-style-type:none;">
													<li><strong>1.Vast Deference</strong></li>
													<li>Abhinav Dhar</li>
													<li>Shashwat Sinai Salgaocar</li>
												</ul>
											</div>
											<div class="col-12 col-sm-6 col-md-4 ">
												<ul style="list-style-type:none;">
													<li><strong>2.RKM</strong></li>
													<li>Shantanu Sharma</li>
													<li>Shashank Tyagi</li>
												</ul>
											</div>
											<div class="col-12 col-md-4 ">
												<ul style="list-style-type:none;">
													<li><strong>3.Aneek Choudhury</strong></li>
													<li>Aneek Roy Choudhury</li>
													<li>Rahul Kulkarni</li>
												</ul>
											</div>	
										</div>
									</div>	
								</div>
							</div>

                            <!--<div class="text-line" style="margin-bottom:60px;">
                                <div class="left-text"><strong>Sports Quiz</strong></div>
                                <div class="right-text date-line"><strong>Prelims: 20 Oct</strong></div><br>
								<div class="right-text date-line"><strong>Finals: 23 Oct</strong></div>
								<div class="date-line">
                                	<div class="right-text">Prelims: 20 Oct</div><br>
									<div class="right-text pb-5">Finals: 23 Oct</div>									
</div>
                            </div>
							
                            <p class="give-margin">A sports quiz is a fun way to quiz yourself on a range of topics related to sports. These quizzes are a fascinating way of learning things. Not only are they convenient, but they are also easy to do anytime. Spirit’21, IIT Guwahati brings “Sports Quiz'' a compiled list of interesting sports quizzes for you to enjoy. Have Fun!
							</p>
							<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">15 Oct</div>
                            </div>
							<p class="text-center prize">
								<b>Prize Pool of 5k</b>
							</p>
							
							<p class="text-center"> 
							
							<a target="_blank" href="https://dare2compete.com/quiz/sports-quiz-spirit-2021-indian-institute-of-technology-iit-guwahati-224822" style="text-decoration:none"><button type="button" style="left:43%"  class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
							
							</p>-->
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		