        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-cricketfantasy" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/CricketfantasyCard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>Cricket Fantasy</strong>
										</div>
										<div class="col-3">
											<strong> 24 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										NeoFanTasy is a new twist on Fantasy Cricket! Gear up for the most exciting and awaited match between India and Pakistan! Think you know who will be smacking sixes today? Make your own team, Play, and find out! Win thrilling prizes in form of NFTs!
									</div>
									<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names text-center">
										<div class="row">
											<div class="col-12 col-sm-6 col-md-4">
												1.Ganesh Kurapati
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												2.Nandagopan
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												3.Subash J
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												4.GUNASEKHAR MADIREDDI
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												5.Chirag
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												6.Yash aggarwal 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												7.Vatsal 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												8.Aryan Laumas
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												9.Kartik Garg
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												10.MIHAN ARIF 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												11.Jagrit Kalra
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												12.Anant Kaushik
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												13.Gaurang Talati
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												14.Himadri Dey
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												15.Raghav Bansal
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												16.Shubham Patel
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												17.Himanshu Bansal
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												18.KARAN  KOCH
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												19.LAKSHMI KANT RAO
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												20.Pratyush Kumar Pran
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												21.Soham Karak
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												22.Priyabrata Das 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												23.Madhav Agarwal
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												24.Soham Roy
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												25.Aswin A
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												26.Abhay
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												27.Kanishka
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												28.Sadashiv Keshav
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												29.Amartya Batabyal
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												30.Anurag Singh
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												31.raj anand 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												32.Aryan Dev 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												33.Archit Jain
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												34.Rohit Chawla 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												35.Divyansh Rai 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												36.Soumyojit das
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												37.raghav garg
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												38.Deep
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												39.Ayush Pratap Singh
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												40.Sai Krishnan
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												41.Tannmoy
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												42.Deepesh Goyal
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												43.Abhinav Mishra
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												44.Sahil Paul
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												45.Parth
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												46.Shruti Joshi 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												47.Dilip
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												48.Dev
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												49.Ankit Kumar
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												50.Shantanu Gupt
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												51.Kishalay Chakraborty
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												52.SHUBHAM BHATT
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												53.Rahul Rathnakara
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												54.Rahul Jakhad
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												55.Lokesh Dodwani 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												56.Nandini Maheshwari
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												57.Shashwat Gupta
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												58.Aman Paul
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												59.Rahil Patel 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												60.Ahaan Sameer Malhotra
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												61.Rushabh Parikh
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												62.Samay Varshney 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												63.GUNDAMEEDI SAI RAM MOHAN
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												64.Sauradeep Bhattacharjee
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												65.Anil Kumar
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												66.Ashok Kumar Meher 
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												67.Bittu Pandey
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												68.Dhruv Garg
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												69.Abhishek Thakur
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												70.Karan Jain
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												71.Aashrith D
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												72.Yashraj Solanki
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												73.Maharsh Shah
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												74.Govind Singh
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												75.Abhinav
											</div>
											<div class="col-12 col-sm-6 col-md-4">
												76.satyam bansal
											</div>
										</div>
									</div>	
								</div>
							</div>
                            <!--<div class="text-line">
                                <div class="left-text"><strong>Cricket Fantasy </strong></div>
                                <div class="right-text"><strong> 24 Oct</strong></div>
                            </div>

                            <p class="give-margin">NeoFanTasy is a new twist on Fantasy Cricket! Gear up for the most exciting and awaited match between India and Pakistan! Think you know who will be smacking sixes today? Make your own team, Play, and find out! Win thrilling prizes in form of NFTs!
							</p>
							<!--<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">14 Oct</div>
                            </div>
							
							<p class="text-center prize">
								<b>Prize Pool of 5k</b>
							</p>-->
							
							<!-- <button type="button" class="btn btn-primary btn-lg coming-soon center-block">COMING SOON!</button> -->
							<!-- Add the ejs code from ipl modal here  -->
							
							<!--<p class="text-center"> 
							<%if (logged_in){%>
								
							    <%if(user.events_registered.includes("fantasy")){%>
								<button type="button" class="btn btn-primary btn-lg register-button center-block">
								ALREADY REGISTERED
								</button>
								<%}else{%>
								<a href="events/register/fantasy" style="text-decoration:none"><button type="button" style="left:43%"class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
								<%}%>
							
							<%}else{%>
							<a href="login" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button center-block">
								LOGIN TO REGISTER
								</button></a>
							<%}%>
							</p>
							<!-- <a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-closed center-block">
								REGISTRATIONS CLOSED 
								</button></a> -->
							
							<!-- <a target="_blank" href="https://drive.google.com/drive/folders/18j2YTonCnIv3SxcH2za3UFbVPIAj6GVA?usp=sharing" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-rulebook center-block">
								View Rulebook
							</button></a></p> -->
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		