        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-treasure" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/TreasureCard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>Treasure Hunt</strong>
										</div>
										<div class="col-3">
											<strong> 22-24 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										Treasure hunt is discovering hints to arrive at the last destination and get rewarded. Spirit, IIT Guwahati brings you Treasure Hunt 2021. Be prepared to witness the first-of its sort chase where you’ll have to concentrate all your impulses and type to go through various stages. Way more fun.
									</div>
									<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names">
										<div class="text-center">
											Sudhir
										</div>
										<div class="text-center">
											Dhriti Desai
										</div>
									</div>	
								</div>
							</div>

                            <!--<div class="text-line">
                                <div class="left-text"><strong>Treasure Hunt</strong></div>
                                <div class="right-text"><strong> 22-24 Oct</strong></div>
                            </div>

                            <p class="give-margin">Treasure hunt is discovering hints to arrive at the last destination and get rewarded. Spirit, IIT Guwahati brings you Treasure Hunt 2021. Be prepared to witness the first-of its sort chase where you’ll have to concentrate all your impulses and type to go through various stages. Way more fun.
							</p>
							<!--<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">14 Oct</div>
                            </div>
							
							<p class="text-center prize">
								<b>Prize Pool of 5k</b>
							</p>
							
							<!-- <button type="button" class="btn btn-primary btn-lg coming-soon center-block">COMING SOON!</button> -->
							<!-- Add the ejs code from ipl modal here  -->
							
							<!--<p class="text-center"> 
							 <%if (logged_in){%>
								
							    <%if(user.events_registered.includes("treasure_hunt")){%>
								<button type="button" class="btn btn-primary btn-lg register-button center-block">
								ALREADY REGISTERED
								</button>
								<%}else{%>
								<a href="events/register/treasure_hunt" style="text-decoration:none"><button type="button" style="left:43%"class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
								<%}%>
							
							<%}else{%>
							<a href="login" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button center-block">
								LOGIN TO REGISTER
								</button></a>
							<%}%>
							</p>
							<a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg winner-button center-block">
								WINNERS
								</button></a>
							</p>-->
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		