        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-bgmi" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/BGMICard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>BattleGround Mobile India</strong>
										</div>
										<div class="col-3">
											<strong> 23-24 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										"Winner Winner Chicken Dinner"
Think you have what it takes to claim it? Find out in the BGMI tournament brought to you by Spirit, IIT Guwahati in collaboration with ESFI.

Mark your calendars and get ready to show everyone your BGMI skills.

It’s a solo cup. Thus, single participation only.
									</div>
									<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names">
										<div class="text-center">
											Akash
										</div>
										<div class="text-center">
											Vishal Narwal
										</div>
										<div class="text-center">
											Siddhant Ghosh
										</div>
										<div class="text-center">
											Shobhit Kumar
										</div>
										<div class="text-center">
											Aryan Dev Chauhan
										</div>
									</div>	
								</div>
							</div>

                            <!--<div class="text-line">
                                <div class="left-text"><strong>BattleGround Mobile India</strong></div>
                                <div class="right-text"><strong> 23-24 Oct</strong></div>
                            </div>

                            <p class="give-margin">"Winner Winner Chicken Dinner"
Think you have what it takes to claim it? Find out in the BGMI tournament brought to you by Spirit, IIT Guwahati in collaboration with ESFI.

Mark your calendars and get ready to show everyone your BGMI skills.

It’s a solo cup. Thus, single participation only.
							</p>
							<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">22 Oct</div>
                            </div>
							
							<p class="text-center prize">
								<b>Prize Pool of 10k</b>
							</p>
							
							<!-- <button type="button" class="btn btn-primary btn-lg coming-soon center-block">COMING SOON!</button> -->
							<!-- Add the ejs code from ipl modal here  
							
							<p class="text-center"> 
							<a target="_blank" href="https://dare2compete.com/creative-cultural-event/esports-bgmi-spirit-2021-indian-institute-of-technology-iit-guwahati-225803" style="text-decoration:none"><button type="button" style="left:43%"  class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
							<!-- <a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-closed center-block">
								REGISTRATIONS CLOSED 
								</button></a> -->
							
							<!-- <a target="_blank" href="https://drive.google.com/drive/folders/18j2YTonCnIv3SxcH2za3UFbVPIAj6GVA?usp=sharing" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-rulebook center-block">
								View Rulebook
							</button></a></p> -->
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		