       <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-chess" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/ChessCard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>Chess</strong>
										</div>
										<div class="col-3">
											<strong> 22-24 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										Chess is a game of imagination and knowledge. It is an epic game of old insight. During this pandemic, Chess in India has arrived at new stature. Spirit, IIT Guwahati conducts its first online chess competition to give chess aficionados a stage to fight it out and grandstand their abilities.
									</div>
									<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names">
										<div class="text-center">
											Kartavya Anadkat
										</div>
										<div class="text-center">
											Rohan Bobby
										</div>
										<div class="text-center">
											Karan Malhotra
										</div>
									</div>	
								</div>
							</div>

                            <!--<div class="text-line">
                                <div class="left-text"><strong>Chess</strong></div>
                                <div class="right-text"><strong> 22-24 Oct</strong></div>
                            </div>

                            <p class="give-margin">Chess is a game of imagination and knowledge. It is an epic game of old insight. During this pandemic, Chess in India has arrived at new stature. Spirit, IIT Guwahati conducts its first online chess competition to give chess aficionados a stage to fight it out and grandstand their abilities.
							</p>
							<!--<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">15 Oct</div>
                            </div>
							
							<p class="text-center prize">
								<b>Prize Pool of 30k</b>
							</p>-->
							
							<!-- <p class="text-center"> 
							
							<%if (logged_in){%>
								
							    <%if(user.events_registered.includes("chess")){%>
								<button type="button" class="btn btn-primary btn-lg register-button center-block">
								ALREADY REGISTERED
								</button>
								<%}else{%>
								<a href="events/register/chess" style="text-decoration:none"><button type="button" style="left:43%"class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
								<%}%>
							
							<%}else{%>
							<a href="login" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button center-block">
								LOGIN TO REGISTER
								</button></a>
							<%}%>
							
							</p> -->
							<!--<a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-closed center-block">
								REGISTRATIONS CLOSED 
								</button></a>
							
							<a target="_blank" href="https://drive.google.com/drive/folders/18j2YTonCnIv3SxcH2za3UFbVPIAj6GVA?usp=sharing" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-rulebook center-block">
								View Rulebook
							</button></a>-->
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		