        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-fitness" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/Fitnesscard.png" alt="..." class="expand-img" />
                            </div>
							
							<div class="modal-body">
  								<div class="container">
									<div class="row modal-head-text">
										<div class="col-9">
											<strong>Fitness Challenge</strong>
										</div>
										<div class="col-3">
											<strong> 2-20 Oct</strong>
										</div>
									</div>
									<div class="modal-para">
										With every passing day the craze of fitness is increasing, to boost that we bring a perfect platform for fitness freaks to represent their physical aptitude in front of the world through different fitness challenges and win handy prizes and also an experience of insight into the fitness world.
									</div>
									<!--<div class="text-center modal-winner-head">
										<strong>WINNERS</strong>
									</div>
									<div class ="winner-names">
										<div class="text-center">
											Sudhir
										</div>
										<div class="text-center">
											Dhriti Desai
										</div>
									</div>-->
								</div>
							</div>
							
                            <!--<div class="text-line">
                                <div class="left-text"><strong>Fitness Challenge</strong></div>
                                <div class="right-text"><strong> 2-20 Oct</strong></div>
                            </div>

                            <p class="give-margin">With every passing day the craze of fitness is increasing, to boost that we bring a perfect platform for fitness freaks to represent their physical aptitude in front of the world through different fitness challenges and win handy prizes and also an experience of insight into the fitness world.
							</p>
							<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">20 Oct</div>
                            </div>
							<!--<p class="text-center prize">
								<b>Prize Pool of 20k</b>
							</p>
							
							<p class="text-center">
								
							
							<!-- <button type="button" class="btn btn-primary btn-lg register-button center-block">
								COMING SOON!
							</button>
							<%if (logged_in){%>
								
							    <%if(user.events_registered.includes("fitness")){%>
								<button type="button" class="btn btn-primary btn-lg register-button center-block">
								ALREADY REGISTERED
								</button>
								<%}else{%>
								<a href="events/register/fitness" style="text-decoration:none"><button type="button" style="left:43%"class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
								<%}%>
							
							<%}else{%>
							<a href="login" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button center-block">
								LOGIN TO REGISTER
								</button></a>
							<%}%>
							</p>-->
							
							<!--<a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-closed center-block">
								REGISTRATIONS CLOSED 
								</button></a>
							
							<a target="_blank" href="https://drive.google.com/drive/folders/18j2YTonCnIv3SxcH2za3UFbVPIAj6GVA?usp=sharing" style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg register-button-rulebook center-block">
								View Rulebook
							</button></a>-->
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
	